<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: rider-navigation"></nav>


<table class="table">
    <tr>
        <th>Name</th>
        <th>Team</th>
        <th>PCS Link</th>
    </tr>

    <tr th:each="rider : ${riders}">
        <td th:text="${rider.name}"></td>
        <td th:text="${rider.team}"></td>
        <td><a th:href="${rider.pcsLink}">Go to PCS</a></td>
    </tr>
</table>



</body>
</html>